<div class="form-group">
  <label for="number">Number:</label>
  <input type="text" [(ngModel)]="number" id="number" class="form-control">
</div>

<div class="mt-3">
  <h1>Number</h1>
  <p>Sem Formatação: {{number | number}}</p>
  <p>Decimal: {{number | number:'2.0-1'}}</p>
  <p>Currency: {{number | currency:'BRL'}}</p>
  <p>Percent: {{number | percent}}</p>

  <h1>Text</h1>
  <p>Sem Formatação: {{text}}</p>
  <p>Uppercase: {{text | uppercase }}</p>
  <p>Lowercase: {{text | lowercase }}</p>
  <p>Titlecase: {{text | titlecase }}</p>

  <h1>Date</h1>
  <p>Sem formatação: {{date}}</p>
  <p>Date: {{date | date}}</p>
  <p>Short: {{date | date:'short'}}</p>
  <p>Full: {{date | date:'full'}}</p>
  <p>ShortTime: {{date | date:'shortTime'}}</p>
  <p>dd/MM/YYYY: {{date | date:'dd/MM/YYYY'}}</p>
</div>