<h1>Interpolação</h1>
<p>DOM p/ Component: {{text}}</p>
<p>Calculo: {{1+1}}</p>
<p>Função: {{retornaNome()}}</p>
<hr>

<h1>Property Binding</h1>
<img [src]="imageUrl" [alt]="imageDesc">
<hr>

<h1>Event Binding</h1>
<button (click)="clicou()">Alterar Nome</button>
<p>Nome: {{text}}</p>
<input #input (keyup)="digitaNome(input.value)"><br>
{{input.value}}
<hr>

<h1>Class Binding & Style Binding</h1>
<p [class.textWhiteCenter]="textWhiteCenter" [style.backgroundColor]="bgRed">Diego Apolinário</p>
<img [src]="imageUrl2" [style.width.px]="widthImg">
<hr>

<h1>Two-way Data Binding</h1>
<input type="text" class="form-control" [(ngModel)]="textInput">
<p class="text-default">{{textInput}}</p>
<hr>

<h1>Dados entre Components</h1>
<app-button [btnText]="'Success'" [btnType]="'btn-success'"></app-button>
<app-button [btnText]="'Danger'" [btnType]="'btn-danger'"></app-button>
<app-button btnText="Primary" btnType="btn-primary"></app-button>
<app-button btnText="Default" btnType="btn-default"></app-button>
<hr>

<h1>Life Cycle</h1>
<app-button btnText="Incrementa" btnType="btn-primary" (click)="incrementa()"></app-button>
<app-life-cycle [number]="number"></app-life-cycle>

<app-button btnText="Destroi" btnType="btn-secondary" (click)="destroiComponente()"></app-button>
<app-life-cycle [number]="number" *ngIf="!destroy"></app-life-cycle>